ul.breadcrumb {
  display: flex;
  gap: 18px;

  padding: 8px 0;

  list-style: none;
}
ul.breadcrumb li {
  display: flex;
  align-items: center;
  color: var(--secondary);
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}
ul.breadcrumb li:hover {
  color: calc(var(--secondary) + 200);
}
ul.breadcrumb li:after {
  border: solid var(--arrow);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 16px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: auto;
  content: "";
}
ul.breadcrumb li:last-child::after {
  display: none;
}
